form {
  width: 700px;
  margin: 0 auto;
  text-align: center;
}

input {
  width: 100%;
  margin-left: -90px;
}

div {
  width: 100%;
  max-height: 400px;
  overflow: auto;
  margin-bottom: 30px;
  border-radius: 5px;
  background-color: #eeeeee;
  padding: 0 30px 35px 30px;
}

div button {
  margin: 40px 10px -20px 0;
}

h5 {
  margin-top: 0;
  padding-top: 10px;
}
