<app-navigation></app-navigation>

<form clrForm autocomplete="off" (ngSubmit)="submit()" [formGroup]="botConfiguration">
  <div>
    <h5>{{'bot.information' | translate}}</h5>
    <clr-input-container>
      <label></label>
      <input placeholder="{{'bot.initMessage' | translate}}" clrInput formControlName="initMessage"/>
    </clr-input-container>
    <clr-input-container>
      <label></label>
      <input placeholder="{{'bot.endMessage' | translate}}" clrInput formControlName="endMessage"/>
    </clr-input-container>
    <clr-input-container>
      <label></label>
      <input placeholder="Email" clrInput formControlName="email"/>
    </clr-input-container>
  </div>

  <div>
    <h5>{{'bot.steps' | translate}}</h5>
    <clr-input-container formArrayName="botSteps" *ngFor="let s of botSteps.controls; let i = index;">
      <label></label>
      <input placeholder="{{i + 1}}." clrInput [formControlName]="i"/>
    </clr-input-container>
    <button type="button" class="btn btn-outline-danger" (click)="removeStep()">{{'bot.removeStep' | translate}}</button>
    <button type="button" class="btn btn-primary" (click)="addStep()">{{'bot.addStep' | translate}}</button>
  </div>

  <button [disabled]="botConfiguration.invalid" class="btn btn-primary">{{'bot.save' | translate}}</button>
</form>
