img, button {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

button {
  color: white;
  text-align: center;
  border: none;
  font-weight: bold;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

span {
  position: relative;
  font-size: 20px;
}
