<clr-vertical-nav>
  <clr-vertical-nav-group>
    <clr-icon shape="export"></clr-icon>
    {{"filters.export" | translate}} ({{selectedSize}})
    <clr-vertical-nav-group-children>
      <a (click)="exportCSV.emit()" clrVerticalNavLink>CSV</a>
    </clr-vertical-nav-group-children>
    <clr-vertical-nav-group-children>
      <a (click)="exportVCARD.emit()" clrVerticalNavLink>VCARD</a>
    </clr-vertical-nav-group-children>
  </clr-vertical-nav-group>

  <clr-vertical-nav-group-children>
    <a (click)="selectAll.emit()" clrVerticalNavLink>
      <clr-icon shape="checkbox-list"></clr-icon>
      {{"filters.selectAll" | translate}} ({{contactsSize}})
    </a>
  </clr-vertical-nav-group-children>
  <clr-vertical-nav-group-children class="reset">
    <a (click)="reset()" clrVerticalNavLink><clr-icon shape="refresh"></clr-icon> RESET</a>
  </clr-vertical-nav-group-children>
</clr-vertical-nav>

<clr-vertical-nav>
  <div style="max-height: 500px;">
    <clr-vertical-nav-group *ngFor="let filterGroup of filters; let i = index"
                            [ngSwitch]="filterGroup.filterType" [(clrVerticalNavGroupExpanded)]="isExpanded[i]">
      <clr-icon *ngSwitchCase="'GROUP'" shape="users"></clr-icon>
      <clr-icon *ngSwitchCase="'SUPERGROUP'" shape="organization"></clr-icon>
      <clr-icon *ngSwitchCase="'CHANNEL'" shape="bubble-exclamation"></clr-icon>
      {{"filters." + filterGroup.filterType | translate}} ({{filterGroup.filters.length}})
      <clr-vertical-nav-group-children *ngFor="let filter of filterGroup.filters; let i = index;">
        <a [class.active]="filter.title + i === activeFilter" (click)="emitFilters(filter, i)" clrVerticalNavLink>{{filter.title}} ({{filter.memberIds.length}})</a>
      </clr-vertical-nav-group-children>
    </clr-vertical-nav-group>
  </div>
</clr-vertical-nav>
