clr-vertical-nav {
  padding-top: 0;
  margin-bottom: 50px;
}

clr-vertical-nav-group-children {
  text-align: left;
}

clr-icon {
  margin-right: 10px;
}

.reset a {
  color: #ff3a26;
}

a:hover {
  cursor: pointer;
}
