<app-navigation></app-navigation>

<main>
  <app-contact-filters [filters]="contactFilters$ | async"
                       [contactsSize]="filter().length"
                       [selectedSize]="selectedContacts.length"
                       (filterContacts)="filterClicked($event)"
                       (selectAll)="selectAllContacts()"
                       (exportCSV)="exportCSV()"
                       (exportVCARD)="exportVCARD()"></app-contact-filters>
  <app-contact *ngFor="let contact of filter()"
               [contact]="contact"
               (selectedContact)="selectContact($event)"
               [selected]="isSelected(contact.id)">
  </app-contact>
</main>

<button *ngIf="scrollShow" class="btn btn-primary" (click)="toTop()">
  <clr-icon shape="arrow" size="35"></clr-icon>
</button>
