main {
  margin-bottom: 60px;
  padding: 0 80px;
  text-align: center;
}

app-contact-filters {
  position: fixed;
  left: 150px;
}

button {
  clear: both;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  height: 50px;
  margin-bottom: 0;
}

button:hover {
  cursor: pointer;
}
