<div class="login-wrapper">
  <form class="login" clrForm autocomplete="off" (ngSubmit)="submit()" [formGroup]="loginGroup">
    <section class="title">
      <h3 class="welcome">{{'general.loginInTo' | translate}}</h3>
      Telegram
    </section>
    <div class="login-group">
        <clr-input-container>
          <label><clr-icon shape="phone-handset"></clr-icon></label>
          <input clrInput placeholder="{{'general.phoneNumber' | translate}}" formControlName="phoneNumber" autofocus/>
        </clr-input-container>
        <clr-input-container *ngIf="authStep">
          <label><clr-icon shape="key"></clr-icon></label>
          <input clrInput placeholder="{{'general.authCode' | translate}}" formControlName="authCode"/>
        </clr-input-container>
      <button [disabled]="loginGroup.invalid" class="btn btn-flat-primary">
        <clr-spinner *ngIf="loading$ | async" [clrInline]="true" [clrInverse]="true"></clr-spinner>
        <span *ngIf="!(loading$ | async)">
          {{'general.next' | translate}}
        </span>
      </button>
      <button *ngIf="authStep" type="button" class="btn btn-warning-outline" (click)="back()">{{'general.back' | translate}}</button>
    </div>
  </form>
</div>
