.login {
  width: 400px;
  margin: 100px auto;
  background-color: #eee;
  border-radius: 10px;
  padding: 40px;
}

.login-wrapper {
  height: 400px;
  background: none;
  border: none;
}

.login-wrapper clr-input-container label {
  margin-right: -20px;
}

.login-wrapper .login .login-group .btn {
  margin-top: 10px;
}

.login-wrapper .login {
  min-height: 400px;
  height: 400px;
  border: none;
}

.login-wrapper .login:after {
  content: none;
}

clr-spinner {
  color: white;
}
