<ul class="nav">
  <li class="nav-item">
    <a routerLink="/contacts" class="nav-link" routerLinkActive="active">
      {{"general.contacts" | translate}}
    </a>
  </li>
  <li class="nav-item">
    <a routerLink="/bot" class="nav-link" routerLinkActive="active">
      BOT
    </a>
  </li>
</ul>
