<nav>
  <h1 routerLink="/">TelegramUtils</h1>
  <clr-dropdown *ngIf="isLoggedIn$ | async">
    <button type="button" class="btn btn-primary" clrDropdownTrigger>
      <div>
        <clr-icon shape="user"></clr-icon>
        {{(currentUser$ | async)?.firstName}} {{(currentUser$ | async)?.lastName}}
      </div>
      <div>
        <clr-icon shape="language"></clr-icon>
        {{(currentLanguage$ | async).name}}
      </div>
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen>
      <div id="user">
        <app-user-icon [user]="currentUser$ | async"></app-user-icon>
        {{(currentUser$ | async).phoneNumber}}
      </div>
      <label class="dropdown-header">{{"general.chooseLanguage" | translate}}</label>
      <button [class.active]="(currentLanguage$ | async).code === lang.code" *ngFor="let lang of languages" type="button" (click)="useLanguage(lang)" clrDropdownItem>{{lang.name}}</button>
      <div>
        <div class="dropdown-divider"></div>
        <button type="button" (click)="logout()" clrDropdownItem>{{"general.logout" | translate}}</button>
      </div>
    </clr-dropdown-menu>
  </clr-dropdown>

  <clr-dropdown *ngIf="!(isLoggedIn$ | async)">
    <button type="button" class="btn btn-primary" clrDropdownTrigger>
      <div>
        <clr-icon shape="language"></clr-icon>
        {{(currentLanguage$ | async).name}}
      </div>
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen>
      <label class="dropdown-header">{{"general.chooseLanguage" | translate}}</label>
      <button [class.active]="(currentLanguage$ | async).code === lang.code" *ngFor="let lang of languages" type="button" (click)="useLanguage(lang)" clrDropdownItem>{{lang.name}}</button>
    </clr-dropdown-menu>
  </clr-dropdown>

</nav>
