nav {
  height: 75px;
  color: #25588D;
  background-color: #ffffff;
  border-bottom: solid 1px #25588D;
  padding: 0 80px;
  text-align: center;
}

h1 {
  margin-top: 15px;
  width: 150px;
  float: left;
  color: #0095d3;
}

h1:hover {
  cursor: pointer;
}

h1:focus {
  outline: none;
}

nav clr-dropdown {
  float: right;
  margin-top: 20px;
}

.dropdown .dropdown-toggle {
  text-align: left;
  min-width: 240px;
}

.dropdown-menu {
  min-width: 240px;
}

#user {
  margin: -5px 0 10px 0;
}

app-user-icon {
  margin: 0 15px 0 -20px;
}

@media only screen and (max-width: 1000px) {
  nav {
    padding: 0 10px;
  }
}
