<clr-alert [clrAlertAppLevel]="true" *ngIf="successMsg?.length > 0" [clrAlertType]="'success'" (clrAlertClosedChange)="onClose()">
  <clr-alert-item>
      <span class="alert-text">
        {{successMsg | translate}}
      </span>
    </clr-alert-item>
</clr-alert>

<clr-alert [clrAlertAppLevel]="true" *ngIf="errorMsg?.length > 0" [clrAlertType]="'danger'" (clrAlertClosedChange)="onClose()">
  <clr-alert-item>
      <span class="alert-text">
        {{errorMsg | translate}}
      </span>
  </clr-alert-item>
</clr-alert>

<app-header></app-header>

<router-outlet></router-outlet>
