app-user-icon {
  margin: 0 40px 0 5px;
}

.card {
  width: 520px;
  margin: 10px auto;
}

.card-header {
  margin-left: 30px;
  text-align: left;
  font-size: 16px;
  padding: 5px;
}

.info {
  display: inline-block;
  width: 70%;
}

.info #number {
  float: right;
  font-size: 15px;
  color: grey;
}

.selected {
  background-color: #c0e9ef;
}
