<div class="card clickable" (click)="selectedContact.emit(contact.id)" [class.selected]="selected">
  <div class="card-header">
    <app-user-icon [user]="contact"></app-user-icon>
    <div class="info">
      <span>{{contact.firstName}} {{contact.lastName}}</span>
      <span id="number">{{contact.phoneNumber}}</span>
    </div>
  </div>
</div>
